<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chef Roaster</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="central">
        <div class="container">
            <textarea id="prompt" placeholder="Describe the poor chef..." rows="4"></textarea>
            <br />
            <button class="button" onclick="submitForm()" onmouseover="changeText(this)" onmouseout="resetText(this)">
                Show me the victim 👿
            </button>
            <div id="loading">
                <div class="spinner" id="spinner" style="display:none;"></div>
            </div>
            <img id="image" alt="Chef to Roast">
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
